:root{
    --c-brand:#4D5AE5;
    --c-background-hero:#2E2F42;
    --c-background-secondary: #F4F4FD;
    --c-text:#434455;
    --c-hover:#404BBF;
}

body{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    font-weight: 400;
    color: var(--c-text);
    background-color: #fff;

}

/*header*/

.nav>a{
    color: var(--c-background-hero);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.logo{
    color: #4D5AE5;
    text-transform: uppercase;
    line-height: 1.17;;
    letter-spacing: 0.03em
}

.logo:hover,
.logo:focus{
    color: var(--c-brand);
    cursor: pointer;
}


.header-link{
    color: var(--c-background-hero);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
    color: var(--c-hover);
    cursor: pointer;
}

.logo .accent{
    color: var(--c-background-hero);
}

.address{
    font-style: normal;
}
.contacts-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-text);
}

.contacts-link>a:hover,
.contacts-link>a:focus {
    color: var(--c-brand);
    cursor: pointer;
}

/*hero section*/
.hero-section{
    background-color: var(--c-background-hero);
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:#fff;
    font-weight: 700;
    text-align: center;
}

.button-hero{
    background-color: var(--c-brand);
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
}

.button-hero:hover,
.button-hero:focus{
    background-color: var(--c-hover);
    cursor: pointer;
}

/*Benefits section*/


.benefits-h3{
    color: var(--c-background-hero);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Our Team section*/



